{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}
  <section class="accueil">
        <div class="intro">
        <h1>Bienvenue dans la Collection Masquée</h1>
        <p>Explorez, collectionnez et partagez votre passion.</p>
        <p>{{ happyMessage }}</p>
        <p>{{ dateMessage }}</p>
        <h2>Derniers masques ajoutés</h2>
        </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        {% for masque in derniersMasques %}
          <div class="swiper-slide">
            <a href="{{ path('masque_detail', { id: masque.id }) }}" class="carousel-card">
              {% if masque.imageName %}
                <img src="{{ asset('uploads/images/' ~ masque.imageName) }}" alt="{{ masque.nom }}">
              {% endif %}
              <div class="infos">
                <h3>{{ masque.nom }}</h3>
                <p>{{ masque.caracteristique }}</p>
                <p>Valeur estimée : {{ masque.valeur }} €</p>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>

      <!-- Flèches -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>
{% endblock %}
